<!-- email_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Letter</title>
    <style>
        /* Define styles for the "Click here" tag */
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer; /* Change cursor to pointer on hover */
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <p>Congratulations Mrs/Miss {{ name }}. Click <a href="{{ hyperlink }}" class="button">here</a> to accept the offer.</p>
</body>
</html>